.app {
  display: flex;
  flex-direction: column;
  background-color: #131316;
  color: #f2f2f3;
  height: 100vh;

}

.main{
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;  
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;  
}