.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background: #1c1c21;
  border-radius: 40px;
  position: relative;
  max-width: 720px;
  width: 100%;
	box-sizing: border-box;
}

.modalHeader {
  display: flex;
  align-items: center;
  width: 100%;
}

.closeIcon {
  margin-left: auto;
  background: none;
  padding: 0;
  border: none;
  cursor: pointer;
}

.innerContainer {
  display: flex;  
  flex-direction: column;
	align-items: center;	
  margin: 0 auto;
}
