.header {    
    width: 100%;
    margin: 0 auto;
    background-color: #1C1C21;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    list-style-type: none;
}

.container {
    display: flex;   
}

.logo {
    margin-right: 225px;
}
